@tailwind base;
@tailwind components;
@tailwind utilities;

.mobileheader {
    background-image: url(./images//bg-main-mobile.png);
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    font-family: "Space Grotesk", sans-serif;
    letter-spacing: 2px;
}